{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "indent": ["error", 2],
    "quotes": ["error", "single"],
    "strict": ["error", "global"],
    "no-var": "error",
    "prefer-template": "warn",
    "prefer-const": "error",
    "prefer-arrow-callback": "warn"
  }
}
